.card{
    height: 10rem;
    width: 45rem;
    background-color: #fdfdfd;
    margin: 1rem;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    border: 3px #042c54;
}
.card_img{
    height: 9rem;
    width: 10rem;
    background-color: #042c54;
    margin: 0.5rem;
    border-radius: 16px;

}
.card_time{
    color: rgb(117, 117, 117);
    padding:  0.2rem 0;
}
.card_desc{
    height: 9rem;
    width: 33rem;
    margin-top: 0.5rem;
    /* background-color: black; */
    color: black;
    font-weight: 600;
}